body {
  background-color: #e7e9ed;
}

.table {
  color: #535353;
}

.invoice-content {
  font-family: "Poppins", sans-serif;
  color: #535353;
  font-size: 13px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.invoice-content a {
  text-decoration: none;
  color: #535353;
}

.invoice-content .img-fluid {
  max-width: 100% !important;
  height: auto;
}

.invoice-content .form-control:focus {
  box-shadow: none;
}

.invoice-content h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
  color: #535353;
}

/** BTN LG **/
.btn-lg {
  font-size: 15px;
  height: 50px;
  padding: 0 35px;
  line-height: 50px;
  border-radius: 3px;
  color: #ffffff;
  border: none;
  margin: 3px;
}

.btn-lg {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
  z-index: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.btn-lg:hover {
  color: #ffffff;
}

.btn-lg:hover:after {
  transform: perspective(200px) scaleX(1.05) rotateX(0deg) translateZ(0);
  transition: transform 0.9s linear, transform 0.4s linear;
}

.btn-lg:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  transform: perspective(200px) scaleX(0.1) rotateX(90deg) translateZ(-10px);
  transform-origin: bottom center;
  transition: transform 0.9s linear, transform 0.4s linear;
  z-index: -1;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-download {
  background: #2565cc !important;
  color: #fff !important;
}

.btn-download:after {
  background: #1e59b7;
}

.btn-print {
  background: #2b2a2a;
  color: #fff !important;
}

.btn-print:after {
  background: #1d1c1c;
}

.invoice-content .f-w-600 {
  font-weight: 600 !important;
}

.invoice-content .text-13 {
  font-size: 13px;
}

.invoice-content .invoice-table th:first-child,
.invoice-content .invoice-table td:first-child {
  text-align: left;
}

.invoice-content .color-white {
  color: #fff !important;
}

.invoice-content .inv-header-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #262525;
}

.invoice-content .inv-header-2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.invoice-content .inv-title-1 {
  font-weight: 500;
  font-size: 16px;
}

.invoice-content .invo-addr-1 {
  font-size: 15px;
  margin-bottom: 20px;
}

.invoice-content .item-desc-1 {
  text-align: left;
}

.invoice-content .item-desc-1 span {
  display: block;
}

.invoice-content .item-desc-1 small {
  display: block;
}

.invoice-content .important-notes-list-1 {
  font-size: 13px !important;
  padding-left: 15px;
  margin-bottom: 15px;
}

.invoice-content .important-notes-list-1 li {
  margin-bottom: 5px;
}

.invoice-content .bank-transfer-list-1 {
  font-size: 13px !important;
  padding-left: 0px;
}

.invoice-content .important-notes {
  font-size: 12px !important;
}

.invoice-content .invoice-btn-section {
  text-align: center;
  margin-top: 30px;
}

table tr:has(th) {
  font-weight: 500;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  background-color: #f6fafd;
}

/** Invoice 2 start **/
.invoice-2 {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0 30px;
  font-family: "Poppins", sans-serif;
  max-width: 880px;
  margin: 0 auto;
}

.invoice-2 h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #353535;
}

.invoice-2 .invoice-info {
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.invoice-2 .bank-transfer-list-1 {
  padding-left: 15px;
}

.invoice-2 .table-responsive {
  font-size: 13px;
}

.invoice-2 .table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  margin-bottom: 0;
}

.invoice-2 .item-desc-1 span {
  font-size: 14px;
  font-weight: 500;
  color: #535353;
}

.invoice-2 .bg-active {
  color: #515151 !important;
}

.invoice-2 .fw-bold {
  font-weight: 500 !important;
  color: #535353;
}

.invoice-2 .note {
  padding: 40px 80px;
}

.invoice-2 strong {
  font-weight: 600;
}

.invoice-2 .account-transfer p {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: normal;
}

.invoice-2 .account-transfer p strong {
  font-weight: 600;
}

.invoice-2 .account-transfer {
  border-bottom: solid 1px #d8d8d8;
  padding: 40px 80px;
}

.invoice-2 .total-amount {
  text-align: right;
}

.invoice-2 .total-amount h1 {
  color: #2565cc;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 30px;
}

.invoice-2 .order-summary h4 {
  font-size: 20px;
  margin: 0 0 20px;
}

.invoice-2 .address-info .strong {
  font-weight: 600;
  margin-bottom: 5px;
}

.invoice-2 p {
  color: #535353;
}

.invoice-2 strong {
  text-transform: initial !important;
}

.invoice-2 .order-summary {
  padding: 20px 70px;
}

.invoice-2 .address-info p {
  margin-bottom: 0;
  font-size: 14px;
}

.invoice-2 .logo img {
  width: 188px;
  margin-bottom: 10px;
}

.invoice-2 .title-logo p {
  margin-bottom: 0;
}

.invoice-2 .name {
  font-size: 22px;
  margin-bottom: 30px;
}

.invoice-2 .id {
  font-size: 22px;
  line-height: 50px;
  margin-bottom: 0;
}

.invoice-2 .invoice-name p {
  margin-bottom: 0;
}

.invoice-2 .invoice-center {
  padding: 25px 80px 0 80px;
}

.invoice-2 address {
  margin-bottom: 0;
}

.invoice-2 .invoice-top {
  padding: 40px 70px 0 70px;
}

.invoice-2 .note p {
  font-size: 13px;
  margin-bottom: 0;
}

.invoice-2 .table > :not(caption) > * > * {
  padding: 15px 10px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.invoice-2 .bank-transfer-list-1 {
  margin-bottom: 0;
}

.payment {
  padding: 0px 80px 25px 80px;
  width: fit-content;
  margin-left: auto;
}

.footer {
  padding: 0px 70px 45px 70px;
}

.payment-info {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.words-prp {
  border-bottom: 2px solid #1e59b7;
}

.qr-code {
  width: 150px;
}
.footer .d-flex {
  gap: 30px;
}
/** MEDIA **/
@media (max-width: 992px) {
  .invoice-2 .invoice-top {
    padding: 40px 50px;
  }

  .invoice-2 .id {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 0;
  }

  .invoice-2 .invoice-center {
    padding: 40px 50px;
  }

  .invoice-2 .order-summary {
    padding: 40px 50px;
  }

  .invoice-2 .account-transfer {
    padding: 40px 50px;
  }

  .invoice-2 .note {
    padding: 40px 50px;
  }
}

@media (max-width: 768px) {
  .invoice-2 .address-info {
    margin-bottom: 20px;
  }
  .invoice-2 .invoice-top {
    padding: 30px 30px 0 18px;
  }
  .footer .d-flex {
    gap: 10px;
  }
  .invoice-2 .address-info {
    margin-bottom: 20px;
  }
  .footer,
  .payment {
    padding: 0px 30px 30px 30px;
  }

  .invoice-2 .title-logo {
    margin-top: 10px;
  }

  .invoice-2 .address-info.ai2 {
    margin-bottom: 0;
  }

  .invoice-2 .bank-transfer {
    margin-bottom: 20px;
  }

  .invoice-2 .invoice-center {
    padding: 30px;
  }

  .invoice-2 .order-summary {
    padding: 30px;
  }

  .invoice-2 .account-transfer {
    padding: 30px;
  }

  .invoice-2 .note {
    padding: 30px;
  }

  .invoice-2 .table > :not(caption) > * > * {
    padding: 15px 15px;
    background-color: var(--bs-table-bg);
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    text-align: right;
  }

  .invoice-2 .invoice-info {
    margin: 0 auto;
    padding: 0;
    box-shadow: none;
  }

  .invoice-2 .total-amount {
    text-align: left;
  }

  .invoice-2 .invoice-name {
    text-align: left;
    float: left;
  }

  .invoice-2 .name {
    margin-bottom: 15px;
  }
}

.bank-details h5 {
  font-size: 15px;
  margin-bottom: 15px;
}
.qr-code h5 {
  font-size: 15px;
  margin-bottom: 15px;
}

.tm_invoice_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tm_invoice_footer table {
  margin-top: -1px;
}

.tm_invoice_footer .tm_left_footer {
  width: 58%;
  padding: 10px 15px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.tm_invoice_footer .tm_right_footer {
  width: 42%;
}

.tm_note {
  margin-top: 30px;
  font-style: italic;
}

.tm_font_style_normal {
  font-style: normal;
}

.tm_sign img {
  /* max-height: 90px; */
  width: 35%;
}
.imgcn img {
  width: 42%;
}
.tm_invoice.tm_style1.tm_type1 .tm_invoice_right {
    position: relative;
    z-index: 2;
}
.tm_invoice.tm_style1 .tm_invoice_right {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 60%;
}
.tm_primary_color {
    color: #111;
}
.tm_sign  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tm_invoice_left {
    width: 50%;
}
.tm_invoice_right {
    width: 50%;
}